{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div>
            Databases:
            <a href={{ '' }}>Главная</a>
            <a href={{ '/admin' }}>Добавление</a>
            <a href={{ '/view' }}>Просмотр</a>
        </div>
        <hr>
        {% block content %}
        {% endblock %}
    </body>
</html>
