{% extends "database/view.html" %}

{% block content2 %}
<html>
    <table>
    <tr><th><a href="#">ID</a></th><th><a href="#">Дата</a></th><th><a href="#">Клуб</a></th><th><a href="#">Счёт</a></th><th><a href="#">Клуб</a></th><th><a href="#">Счёт</a></th><th><a href="#">Продажи</a></th>
    {% for match in matchs %}
        <tr><th>{{ match.match_id }}</th><th>{{ match.playdata }}</th><th>{{ match.club_id1.name }}</th><th>{{ match.count1 }}</th><th>{{ match.club_id2.name }}</th><th>{{ match.count2 }}</th><th>{{ match.sold }}</th></tr>
    {% endfor %}
    </table>
</html>
{% endblock %}
