{% extends "database/view.html" %}

{% block content2 %}
<html>
    <table>
    <tr><th><a href="#">ID</a></th><th><a href="#">Имя</a></th><th><a href="#">Фамилия</a></tr>
    {% for coach in coachs %}
        <tr><th><a href="{% url 'coach' pk=coach.coach_id %}">{{ coach.coach_id }}</a></th><th>{{ coach.name }}</th><th>{{ coach.lastname }}</th></tr>
    {% endfor %}
    </table>
    <a href="{% url 'coach_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
</html>
{% endblock %}
